.icon{
    margin-top: 1rem;
    display: flex;
    gap: 0rem;
}
.icon>*{
    transform: scale(0.5);
}
.icon>*:hover{
    cursor: pointer;
}
.contest > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
 